<h1> Hi Welcome to the About page</h1>

<div class="manually written">
	<a href="/pages/about">About Us</a>
	<a href="/pages/contact">Contact Us</a>
</div>

<div class="genereated">
	<%= link_to("About",  about_path ) %>
	<%= link_to("Contact Us", contact_path ) %>
</div>

<div>

	<%= image_tag("cat.jpg", alt: "This is a cat") %>

</div>

<div class="dog_image">

</div>